<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fútbol API</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-[radial-gradient(ellipse_at_left,_var(--tw-gradient-stops))] from-yellow-500 via-yellow-300 to-yellow-100">
  <div class="container">
    <h1 class="mt-4">Ligas de Fútbol</h1>
    <ul class="list-group">
      <% leagues.forEach(league => { %>
        <li class="list-group-item">
          <a href="/league/<%= league.id %>/teams"><%= league.name %></a>
        </li>
      <% }) %>
    </ul>
  </div>
</body>
</html>




