<!DOCTYPE html>
<html>
<head>
  <title>Equipos de Liga</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-image: url('bg-gradient-to-r from-yellow-500 via-yellow-300 to-yellow-100');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      color: #fff;
    }
    .list-group-item {
      background-color: rgba(0, 0, 0, 0.6);
      border: none;
      color: #fff;
    }
    .list-group-item a {
      color: #00f;
    }
    .list-group-item a:hover {
      color: #0ff;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="mt-4">Equipos de la Liga</h1>
    <ul class="list-group">
      <% teams.forEach(team => { %>
        <li class="list-group-item">
          <a href="/team/<%= team.team.id %>/stats?league=<%= leagueId %>"><%= team.team.name %></a>
        </li>
      <% }) %>
    </ul>
  </div>

  <!-- React root element -->
  <div id="teams-root"></div>
  
  <!-- Bundle JS -->
  <script src="/bundle.js"></script>
</body>
</html>

